/* ----------------------------
   Silentap - Styles
---------------------------- */

body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* sanftes weiß/hellgrau */
    font-family: Arial, sans-serif;
    overflow: hidden; /* verhindert Scrollen */
}

#dot {
    position: absolute;      /* wichtig für Teleport */
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

#counter {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #333;
}

#supportButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
